@mixin buttonExit {
	width: 230px;
	height: 50px;
	background-color: #0c70f2;
	border-radius: 10px;
	border: none;

	color: white;
	font-size: 25px;
	font-weight: 600;
	cursor: pointer;
}

@mixin buttonSave {
	width: 230px;
	height: 50px;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid black;

	color: black;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
}
