.updateList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& h1 {
		text-align: left;
		font-size: 20px;
		margin-bottom: 20px;
	}

	&__table {
		margin: 0px auto 30px auto;
		padding: 20px;
		background-color: rgb(238, 238, 238);
		border-radius: 10px;
	}

	&__table table {
		margin: 0 auto;
		border-radius: 2px;
		border-collapse: collapse;

		thead {
			text-align: left;
			font-weight: 600;
			font-size: 16px;
		}

		thead tr th {
			padding-bottom: 20px;
			border-bottom: 2px solid black;
		}

		thead tr th:first-child {
			padding-right: 20px;
		}

		thead tr th:last-child {
			text-align: center;
			padding-left: 30px;
		}

		thead::after {
			content: "-";
			display: block;
			line-height: 10px;
			visibility: hidden;
		}


		tbody tr {
			padding-top: 13px;
			font-weight: 400;
			font-size: 18px;
		}

		tbody tr td:first-child {
			padding-right: 30px;
		}

		tbody tr td:nth-child(2) {
			padding-right: 30px;
		}

		tbody tr td:last-child {
			padding-left: 30px;
			text-align: center;
		}
	}

	& form {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: start;
		row-gap: 15px;

		& div {
			display: flex;
			gap: 20px;
		}

		input[type="text"] {
			width: 300px;
			height: 40px;
			margin-top: 10px;
			border-radius: 7px;
			padding-left: 10px;
			border: none;
			background-color: rgb(238, 238, 238);
			font-weight: 400;
			font-size: 16px;
			outline: none;
		}

		input[type="text"]:focus {
			outline: 1px solid rgb(129, 129, 129);
		}

		& span {
			font-size: 18px;
			font-weight: 500;
			padding-left: 2px;
			margin-bottom: 20px;
		}

		& span input[type="checkbox"] {
			margin-left: 10px;
			position: absolute;
			height: 20px;
			width: 20px;
			cursor: pointer;
		}
	}

	&__actions {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}
