.tableList {
	width: 100%;
	display: flex;
	justify-content: center;

	&__table-main {
		border: 0px;
		border-collapse: collapse;

		thead {
			text-align: left;
			font-weight: 600;
			font-size: 25px;

			padding-bottom: 40px;
		}

		thead tr th {
			padding-bottom: 40px;
			border-bottom: 2px solid white;
		}

		thead tr th:first-child {
			padding-right: 20px;
		}

		thead tr th:nth-child(3) {
			text-align: center;
		}

		thead tr th:last-child {
			text-align: right;
			padding-left: 30px;
		}

		thead::after {
			content: "-";
			display: block;
			line-height: 40px;
			visibility: hidden;
		}

		tbody tr {
			padding-top: 15px;
			font-weight: 400;
			font-size: 18px;
		}

		tbody tr td:first-child {
			padding-right: 30px;
		}

		tbody tr td:nth-child(2) {
			padding-right: 30px;
		}

		tbody tr td:nth-child(3) {
			padding-top: 1%;
			text-align: center;
		}

		tbody tr td:last-child {
			padding-left: 30px;
			text-align: right;
		}

		tbody tr td:last-child img {
			cursor: pointer;
		}

		button {
			border: none;
			background: transparent;
		}

		tbody::after {
			content: "-";
			display: block;
			line-height: 15px;
			visibility: hidden;
		}

		tfoot {
			font-weight: 400;
			font-style: italic;
			font-size: 18px;
		}

		tfoot tr td:last-child {
			text-align: right;
			padding-right: 1.3%;
		}

		tfoot button {
			cursor: pointer;
		}
	}
}
